div.strats{
  font-size: 15px;
}

div.sticky-top{
  font-size: 15px;
}

img.d-block.w-100{
  width: 100%;
  max-height: 720px;
}

div.card-header.bg-white > h5{
  cursor: default;
}

a.t-link {
  color: red;
}

a.t-link:hover {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

.card-header{
  padding: .4rem 1rem;
}

.sticky-top{
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 100vh;
}

.new{
  padding: 10px;
  border: 3px dashed red;
  border-radius: 20px;
  margin-bottom: 15px;
}

small.new{
  border: 1px dashed red;
}
