<nav class="navbar navbar-expand-sm sticky-top">
  <button class="navbar-toggler navbar-dark bg-dark" type="button" data-toggle="collapse" data-target="#sidemenu"
        aria-controls="sidemenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="sidemenu">
    <ul class="navbar-nav flex-column">
      <li><h4>{{strat.map_name}} strategies</h4></li>
      <li><hr></li>
      {% for ct_strat in strat.map_name.ct_strategies %}
      <li class="nav-item">
        <a class="nav-link ct-link" href={% url 'StratBook:strat' ct_strat.id %}>{{ct_strat.name}}
          {% if ct_strat.is_new %} 
            <small class="new">new</small>
          {% endif %}
        </a>
      </li>
      {% endfor %} 
      {% for t_strat in strat.map_name.t_strategies %}
      <li class="nav-item">
        <a class="nav-link t-link" href={% url 'StratBook:strat' t_strat.id %}>{{t_strat.name}}
          {% if t_strat.is_new %} 
            <small class="new">new</small>
          {% endif %}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
