{% extends "base.html" %}

{% block title %}Map Overview{% endblock %}

{% load static %}
{% block content %}
  {% if perms.StratBook.view_map %}
    {% if map_list %}
      <div class="row mb-4">
      {% for m in map_list %}
      {% if forloop.counter|divisibleby:5 %}
        <div class="row mb-4">
      {% endif %}
    	    <div class="col-sm-3">
	          <a class="card-link" href={% url 'StratBook:maps' m.id %}>
	      	    <div class="card">
                {% with 'StratBook/images/'|add:m.name|add:'.jpg' as image_static %}
                <img src={% static image_static %} class="card-img-top">
                {% endwith %}
	      		    <div class="card-body">
	      			    <p class="card-text">{{ m.name }}</p>
	      		    </div>
	      	    </div>
	    	    </a>
	        </div>
        {% if forloop.counter|divisibleby:4 or forloop.counter == map_list|length %}
        </div>
        {% endif %}
      {% endfor %}
    {% else %}
      <p>No maps available.</p>
    {% endif %}
  {% else %}
    <p>Your user does not have access to any maps</p>
  {% endif %}
  {% if perms.StratBook.edit_map %}
    <a href={% url 'StratBook:add_map' %} class="btn btn-success">+ Add Map</a>
  {% endif %}

{% endblock %}
