{% extends "base.html" %}

{% block title %}TapOne Map Overview{% endblock %}

{% block content %}
  {% if map_list %}
    <div class="col-8 ml-auto">
    {% for m in map_list %}
    	<div class="col-6">
	      <a class="card-link" href={% url 'StratBook:maps' m.id %}>
	      	<img src="{{ STATIC_URL }}{{ m.name }}.png">
	      	<div class="card">
	      		<div class="card-body">
	      			<p class="card-text">{{ m.name }}</p>
	      		</div>
	      	</div>
	    	</a>
	    </div>
    {% endfor %}
  	</div>
  {% else %}
    <p>No maps available.</p>
  {% endif %}
{% endblock %}
