{% extends "base.html" %}

{% block title %}{{map.name}} Strats{% endblock %}

{% block content %}
{% include 'StratBook/_mini_nav.html' %}
<hr>
<h2>{{map.name}}</h2>
<div class="row mb-4 mt-4">
  <div class="col-6">
    <div class="card border-primary bg-light">
      <div class="card-body">
        <h3 class="card-title text-primary">Counter-Terrorist</h3>
        <p class="card-text">
          {% for strat in map.ct_strategies %}
            {% include 'StratBook/_strat_card.html' %}
          {% endfor %}
        </p>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card border-danger bg-light">
      <div class="card-body">
        <h3 class="card-title text-danger">Terrorist</h3>
        <p class="card-text">
          {% for strat in map.t_strategies %}
            {% include 'StratBook/_strat_card.html' %}
          {% endfor %}
        </p>
      </div>
    </div>
  </div>
</div>
{% if perms.StratBook.add_map %}
  <a href={% url 'StratBook:add_strat' map.id %} class="btn btn-success">+ Add Strategy</a>
{% endif %}
{% if perms.StratBook.delete_map %}
  <a href={% url 'StratBook:delete_map' map.id %} class="btn btn-danger">- Delete Map</a>
{% endif %}
{% endblock %}

