{% extends "base.html" %}

{% block title %}Edit: {{strat.name}}{% endblock %}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  {% include 'StratBook/_mini_nav.html' %}
  <hr>
  <form method="post">
    {% csrf_token %}
    {{ form.map_name }}
    <div class="row">
      <div class="col-sm-6">
        {{ form.name|as_crispy_field }}
      </div>
      <div class="col-sm-4">
        {{ form.team|as_crispy_field }}
      </div>
    </div>
    <div class="card mt-4 bg-light">
      <div class="card-body">
        <h3 class="card-title">Bullets</h3>
        <p class="bullet-info bg-info mb-4 text-white">
          When entering the text, just type <span class="text-dark">@player</span>
          instead of their name when referring to a player.
          Then select them in the dropdown player menu.
          That way it will be easier to swap around later.
        </p>
        <hr>
        <div class="error">{{formset.non_form_errors}}</div>
        <div class="error">
          {% for error in formset.errors %}
          <p>{{error}}</p>
          {% endfor %}
        </div>
        <div class="row mt-4">
          <div class="col-sm-6">
            Description
          </div>
          <div class="col-sm-2">
            Player
          </div>
          <div class="col-sm-2">
            Nade
          </div>
        </div>
        {% for bulletform in formset %}
          {{bulletform.id}}
          {% if forloop.first %}
          <div id="shown-bullets">
          {% elif forloop.last %}
          </div>
          <div id="hidden-bullet" style="display:none">
          {% endif %}
            <div id="row_bullet_set-{{forloop.counter}}" class="row mt-4">
              <div class="col-sm-6">
                {{ bulletform.text }}
              </div>
              <div class="col-sm-2">
                {{ bulletform.player }}
              </div>
              <div class="col-sm-2">
                {{ bulletform.nade }}
              </div>
              <div class="col-sm-2">
                      <input id="delete_bullet_set-{{forloop.counter}}"
                      type="button" value="Delete" class="btn bg-danger text-white">
              </div>
            </div>
        {% endfor %}
          </div>
        {{ formset.management_form }}
        <a id="add-more" class="btn btn-dark text-white mt-4">+ Add another bullet</a>
        <script src={% static 'StratBook/js/strat_creation.js' %}></script>
      </div>
    </div >
    <button type="submit" class="btn btn-primary mt-4 mb-4">Save Changes</button>
  </form>
{% endblock %}
