div.strats{
  font-size: 15px;
}

div.sticky-top{
  font-size: 15px;
}

img.d-block.w-100{
  width: 100%;
  max-height: 720px;
}

div.card-header.bg-white > h5{
  cursor: default;
}

*.t-link {
  color: #dc3545;
}

*.t-link:hover {
  color: #dc3545;
  text-decoration: underline;
  cursor: pointer;
}

h3.ct-link {
  background-color: #007bff !important
}
  
h3.t-link {
  background-color: #dc3545 !important;
}

.card-header{
  padding: .4rem 1rem;
}

.sticky-top{
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 70vh;
}

.table td {
  padding: 0 15 0 15;
}

.bullet-text {
  padding: 15 0 15 0;
}