<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href={% url 'index' %}>Strategiga</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
    aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href={% url 'StratBook:index' %}>Stratbook</a>
      </li>
      <li class="nav-item">
              <a class="nav-link" href={% url 'StratBook:nadebook' %}>Nadebook</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <div class="welcomer"> Welcome {{user.username}}</div>
          </li>
          {% if perms.AdminPage.view_admin %}
            <li class="nav-item">
              <a class="nav-link" href={% url 'AdminPage:index' %}>Admin</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href={% url 'password_change' %}>Change Password</a>
          </li>
          <li class="divider-vertical"></li>
          <li class="nav-item">
            <a class="nav-link" href={% url 'logout' %}>Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href={% url 'login' %}>Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={% url 'signup' %}>Register</a>
          </li>
        {% endif %}
    </ul>
  </div>
</nav>
