{% for player in players %}
<tr>
  <th scope="row">{{player.username}}</th>
  <td>{{player.first_name}}</td>
  <td>{{player.last_name}}</td>
  <td>{{player.playerordering.number}}</td>
  <td><a href="#" class="card-link" data-toggle="modal"
                                    data-target="#modal-{{player.id}}">
                  <i class="fas fa-cog"></i>
      </a>
  </td>
</tr>

<div class="modal fade" id="modal-{{player.id}}" tabindex="-1"
        role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{player.first_name}} '{{player.username}}' {{player.last_name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action={% url 'AdminPage:update_user' player.id %}>
        {% csrf_token %}
        <div class="modal-body">
          <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="{{player.username}}" disabled>
          </div>
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="{{player.first_name}} {{player.last_name}}" disabled>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" placeholder="{{player.email}}" disabled>
          </div>
            <div class="form-group">
              <label>Player ordering</label>
              <input type="number" name="ordering" class="form-control" value="{{player.playerordering.number}}">
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <div class="form-check">
                  <input type="checkbox" name="is_member" class="form-check-input" {{player|member_checked}}>
                  <label class="form-check-label">Member</label>
                </div>
              </div>
              <div class="form-group col-md-6">
                <div class="form-check">
                  <input type="checkbox" name="is_admin" class="form-check-input" {{player|admin_checked}}>
                  <label class="form-check-label">Admin</label>
                </div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Save changes"></input>
        </div>
      </form>
    </div>
  </div>
</div>
{% endfor %}
